# Copy this file to `local/zsh/env.zsh` and adjust values for this machine.

# Repository root for github_repo_search.zsh
export GITHUB_REPO_SEARCH_ROOT="$HOME/dev/github"
export GITHUB_PUBLIC_REPO_ACCESS_TOKEN="xxxx"